# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
main
ms-authentication
test.txt
.vscode/*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

ms-authentication
main
logs

routes/*.json
